# Config file for automatic testing at travis-ci.org

sudo: false
language: python
matrix:
  include:
    - python: 3.5
      env: TOX_ENV=py35
    - python: 3.6
      env: TOX_ENV=py36
    - python: 3.7
      env: TOX_ENV=py37
      dist: xenial

script: tox -e $TOX_ENV

install:
    - pip install tox

notifications:
  email: false